<<<<<<< master
=======
a:hover{
  text-decoration: none;
}
/*.row{
  height: 102px;
  border: 2px solid #000;
  background-color: blue;
}*/
.col-md-6{
  height: 50px;
  border: 2px solid #000;
  background-color: red;
}
.col-md-1{
  border: 1px solid #000;
  background-color: yellow;
  width: auto;
}
.col-md-3{
  height: 50px;
  border-top: 0px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 2px solid;
  background-color: grey;
}
.col-sm-3{
  border: 1px solid;
  background-color: pink;
  height: 100px;
}
.col-sm-9{
  border: 1px solid;
  background-color: orange;
  height: 100px;
}
.abolute-lorem{
  top: 20px;
  left: 200px;
position: absolute;ut
}
.container{
  height: 500px;
  background-color: lightblue;
  width: auto;
}

.footer{
  height: 50px;
  width: auto;
  background-color: black;
}

.yellow{
  background-color: yellow;
}
@media screen & (max-width: 768px){
  .container{
    background-color: black;
  }
}
@@media screen & (min-width:375px;) {
  .content{
    background-color: pink;
  }
}

>>>>>>> local
